<app-header title="About" segment=0></app-header>

<ion-content [fullscreen]="true">
  <app-header title="About" segment=1></app-header>

  <div id="container">
    <div class="ion-text-center" id="main-div">
      <ion-title>Welcome to WolfyNews</ion-title>
      <div class="main-div-content">
        <ion-text>WolfyNews is a hardware news organization that will help keep you up to date with the latest and
          greatest from the technology and pc hardware world. </ion-text>
      </div>
      <div class="main-div-content">
        <ion-text>Need our help? Send us an email to: support@wolfynews.com</ion-text>
      </div>

    </div>
  </div>
</ion-content>